<h1>CAMPERS GUIDE FOR NON-CAMPERS</h1>
<ul>
<li><%= link_to "See a list of the top camping locations in the world", locations_path %></li>
<li><%= link_to "Check out the most popular camping items", items_path %></li>
</ul>
<%= link_to "Log out", logout_path, method: :post %>